<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://khairulikhwan-001-site2.etempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>afa4eb0f-f7a6-441d-bfff-75dc74255e17</ProjectGuid>
    <MSDeployServiceURL>https://khairulikhwan-001-site2.etempurl.com:8172/msdeploy.axd?site=khairulikhwan-001-site2</MSDeployServiceURL>
    <DeployIisAppPath>khairulikhwan-001-site2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\khairulikhwan-001</UserName>
    <_SavePWD>True</_SavePWD>
    <TargetFramework>netcoreapp2.0</TargetFramework>
  </PropertyGroup>
</Project>